{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <main>
        <div class="signup-form">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Sign Up</button>
            </form>
        </div>
    </main>
{% endblock content %}
