{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href={% url 'list_projects' %}>My Projects</a>
                        </li>
                        <li>
                            <a href={% url 'show_my_tasks' %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url 'logout' %}>Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url 'login' %}>Login</a>
                        </li>
                        <li>
                            <a href={% url 'signup' %}>Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
