{% extends "base.html" %}
{% block title %} Edit Task {% endblock title %}
{% block content %}
<main>
    <div class="task-form">
        <h1>Edit Task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button>Save</button>
        </form>
    </div>
</main>
{% endblock content %}
