{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href={% url 'create_project' %}><i class="fa-solid fa-file-circle-plus icon"></i></a>
            </p>
            {% if not list_projects %}
                <p>You are not assigned to any projects.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in list_projects.all %}
                            <tr>
                                <td>
                                    <a href={% url 'show_project' info.id %}>{{ info.name }}</a>
                                </td>
                                <td>{{ info.tasks.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
