{% extends "base.html" %}

{% block title %}
    Project: {{ project_details.name }}
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href={% url 'create_task' %}><i class="fa-solid fa-plus icon"></i></a>
            </p>
            {% if not project_details.tasks.all %}
                <p>This project has no tasks.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_details.tasks.all %}
                            <tr>
                                <td><a href="{% url 'edit_task' task.id %}?next={{ request.path|urlencode }}">{{ task.name }}</a></td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno|title }}</td>
                                <td>{{ task.notes }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
